*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141115;
    color: #fdf7fa;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}


#input {
    width: 250px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 9px;
}

.images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.image-box {
    position: relative;
    width: 280px;
    height: 350px;
    overflow: hidden;
    border-radius: 9px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 9px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.2);
}

h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
}
